body{
    display: grid;
    grid-template-columns: 0.8fr 3fr;
    margin: 0;
    
    
}

a{
    text-decoration: none;
    color: black;
}

/*Nav Side Bar*/

#side-bar{
    background-color: pink;
}

#logo{
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    font-size: 15px;
    align-items: center;
    margin-right: 1em;

}

img{
    border: black solid 2px;
    padding: 20px;
    margin: 20px;

}

.side-nav ul li{
    list-style-type: none;
}

.side-btn{
    font-size: 18px; 
    background:pink;
    border: none; 
    padding-bottom: 20px; 
    font-weight: bold;
}

.side-btn:hover{
    cursor: pointer;
}

.side-btn i{
    margin-right: 1em;
}

/*Main*/

#main{
    display: grid;
    grid-template-rows: 200px auto;
}

#header{
    display: grid;
    grid-template: 80px 120px /2fr 1.5fr;
    margin-left: 20px;
    margin-right:20px;
    font-size: 18px;
    
}


#search-bar{
    grid-area: 1 1 2 2;
    font-size: 18px;
    height: 100%;
    padding-top: 30px;
    margin-left: 30px;
}

#user-logo{
    justify-self: center;
    width: 50%;
    margin-left: 30px;
    grid-area: 1 2 2 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;

}

#user-logo h3{
    margin-left: 12px;
}

#user{
    height: 100%;
    grid-area: 2 1 3 2;
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    align-items: center;
    margin-left: 30px;
    
}
#user-info h5{
    margin-bottom: 0;
}

#user-info h3{
    margin-top: 0;
}


#user-nav{
    height: 100%;
    grid-area: 2 2 3 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;


}

#user-nav button{
    height: 40px;
    max-width: 100px;
    min-width: 60px;
    border-radius: 30px;
    background-color: pink;
    font-weight: bold;
}

#user-nav button:hover{
    cursor: pointer;
}

#search-bar input{
    border-radius: 30px;
    font-size: 18px;
    height: 20px;
    width:  80%;
    margin-left: 8px;
    background-color: lightgrey;
}



#main-content{
    background-color: lightblue;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.main-title{
    margin-left: 10px;
}

/*Project*/

#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    margin: 10px;
    
}

.project{
    height: 250px;
    min-width:250px;
    max-width:300px;
    padding: 10px;
    border-left: 7px solid orange;
    box-shadow: 3px 4px 3px 0px rgba(197, 197, 197, 0.75);
    border-radius: 4%;
    display: grid;
    grid-template-rows: 30px minmax(30px, 100px) auto;
    background-color: white;
    gap:2px;
}

.project-icons{
    display: grid;
    grid-template-columns: 40px 40px 40px;
    justify-content: end;
    align-items: end;
    margin-bottom: 10px;
    font-size: 18px;

}

.project:hover{
    cursor: pointer;
    transform: scale(1.01);
}



.project h3{
    font-size: 18px;
    
}

.project p{
    width: 95%;
    font-size: 16px;
    color: grey;

}

/*Main Side Content*/
#main-side{
    grid-column-start: 2;
    
}

#announcement-container{
    background-color: white;
    margin: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    box-shadow: 3px 4px 3px 0px rgba(197, 197, 197, 0.75);
    border-radius: 4%;
    font-size: 13px;
    gap: 10px;
}

.an-title,
.an-text{
    padding: 0;
    margin:0;
}

.an-text{
    color: gray;
}

hr{
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:gray;
    height: 1px;
}

#trending{
    margin-top:40px;
}

#trending-container{
    display:grid;
    grid-template-columns: repeat(1fr,4);
    background-color: white;
    box-shadow: 3px 4px 3px 0px rgba(197, 197, 197, 0.75);
    border-radius: 4%;
    font-size: 13px;
    gap: 10px;
    margin: 10px;
    padding: 20px;
}

.trending-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
}

.trending-user-info p{
    padding:0;
    margin:0;
    font-size: 14px;
}

.trending-user{
    font-weight: bold;
}

.trending-project-name{
    color:gray;
}